* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) rgba(33, 43, 54, 1);
    transition: background-color 0.5s, color 0.5s;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: rgba(33, 43, 54, 1);
    color: #fff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.sidebar img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: 10px;
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-top: 0.5rem;
}

.userDetails h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.userDetails p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

.userDetails a {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    gap: 0;
    color: orange;
    text-decoration: none;
}

.userDetails i {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
}

.bottom p {
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
    padding: 0;
    gap: 0;
}

button {
    padding: .3rem .5rem;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #fff;
        color: orange;
    }
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) rgba(33, 43, 54, 1);
}

.contentContainer {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
        0px 0px 2px 0px rgba(145, 158, 171, 0.20);
    border-radius: 10px;
    padding: 1rem;
}

.contentContainer .aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contentContainer .aside img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contentContainer .aside h1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.contentContainer .aside h3 {
    font-size: 0.8rem;
}

.contentContainer .aside p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

.contentContainer .details {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.contentContainer .details .links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.contentContainer .details .links i {
    font-size: 1rem;
    color: rgba(33, 43, 54, 1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.contentContainer .details .links i:hover {
    color: orange;
    transform: scale(1.2);
}

.theme-switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    padding: 0.3rem;
}

.theme-switch-wrapper p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    gap: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: 1px solid #666;
    border-radius: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch input:checked+.slider {
    background-color: rgba(33, 43, 54, 1);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px rgba(33, 43, 54, 1);
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark {
    background-color: #374151;
    color: #fff;
}

.dark .contentContainer {
    background-color: rgba(33, 43, 54, 1);
}

.dark .links i {
    color: orange !important;
}

.dark table {
    color: #fff;
}

.AddUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    padding: 1rem;
    transition: all .3s ease-in-out;
    display: none;

}

.modal-content {
    width: 50%;
    min-height: 50%;
    max-height: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: 10%;
    left: 30%;
    position: absolute;

    & input {
        height: 2rem;
        width: 100%;
        padding: .3rem 0 0 .5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: .8rem;
        font-weight: 600;

    }

    & button {
        padding: .3rem .5rem;
        border-radius: 5px;
        border: none;
        background-color: orange;
        color: #fff;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #fff;
            color: orange;
        }
    }
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.FormContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.FormLeft,
.FormRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.FormLeft {
    justify-content: flex-start;
}

.FormRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;


    & .imagePreview {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;

        & img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.InputField {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .3rem;
    width: 100%;
    flex-direction: column;

    & label {
        font-size: .8rem;
        font-weight: 600;
        color: #374151;
    }

    & input {
        height: 2rem;
        width: 100%;
        padding: .3rem 0 0 .5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: .8rem;
        font-weight: 600;

        &:focus {
            outline: none;
            border: 1px solid orange;
        }

        &::placeholder {
            font-size: .8rem;
            font-weight: 600;
            color: #ccc;
        }
    }


}

.dropzone {
    width: 100%;
    height: 6rem;
    border: 1px dashed #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s ease-in-out;

    & img {
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 10px;
    }

    & span {
        font-size: .8rem;
        font-weight: 600;
        color: red;
        cursor: pointer;
    }

    &:hover {
        border: 1px dashed orange;
    }
}

.users {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table thead tr th {
    font-size: .8rem;
    font-weight: 600;
    padding: .5rem;
    border-bottom: 1px solid #ccc;
}

table tbody tr td {
    font-size: .8rem;
    font-weight: 600;
    padding: .5rem;
    border-bottom: 1px solid #ccc;
}

table tbody tr td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

table tbody tr td button {
    padding: .3rem .5rem;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #fff;
        color: orange;
    }
}